@import 'style.css';
#short {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	color: white;
}

.index_container {
    margin: 0 auto;
    height: 500px;
    width: 600px;
    background: #3d3c3c;
    border-radius: 20px;
    border: solid white 3px;
    padding: 15px;
}

.index_container form {
	color: #e2e2e2;
	margin: 0 auto;
	width: 40%;
	font-family: 'Open Sans', sans-serif;
}

.index_container #cut {
	float: right;
}

.index_container #additional {
	color: #b7b7b7;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}


.mr-0 {
  margin-right: 0;
}
.ml-auto {
  margin-left:auto;
}
.d-block {
  display:block;
  width: 120px;
}